/** Google Fonts **/
@import url(https://fonts.googleapis.com/css?family=Nova+Mono);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/** generale    **/
body{
    background-image: url("img/bck.png");
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #27282D;
}
#header #footer{

    background-color: white;
}

#footer{
    text-align: center;
}

#footer span{
    display: inline-block;
    vertical-align: bottom;
    line-height: normal;    
    color: yellow;
}
#page{
    background-color: white;
}

#sidebar{
    background-color: white;

}
#sidebar ul li{
    list-style: none;
}

/** titoli  **/
h1 {
    font-family: 'Nova Mono', sans-serif;
    color: #A85861;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 10px;
    text-align: center;
}
h2{
    font-family: 'Nova Mono', sans-serif;
    color: #A85861;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h3{
    font-family: 'Nova Mono', sans-serif;
    color: #A85861;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*  links   */
a:link{
    color: #768187;
    text-decoration: none;
}
a:visited{
    color: #3e454a;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    text-decoration: none;
}

/** tabella oggetti **/
tr.intestazione{
    background-color: #3e454a ; 
    color: white;
}
table#oggetti,td, tr {
    border-collapse: collapse;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
    text-align: center;
}
table#oggetti{
    margin-left: 5%;
    margin-right: 5%;
    table-layout: fixed;
}

/*  colore alternato    */
table#oggetti tr pari{
    background-color: #C4C8CB;
}
/*  bordo dell'immagine dell'oggetto  */
table#oggetti img#oggetto { 
    border:1px solid #27282D;
}

table#oggetti img#oggetto{
    width: 40px;
    height: 100px;
}
/*  zoom al passaggio del mouse */
table#oggetti img#oggetto:hover{
    transform: scale(2, 2);
}

table#oggetti img#cart{
    width: 40px;
    height: 40px;      
    opacity: 0.7;
    filter: alpha(opacity=70); /* IE8 e precedenti */
}
/* scurisce al passaggio del mouse */
table#oggetti img#cart:hover{  
    opacity: 1.0;
    filter: alpha(opacity=100); /* IE8 e precedenti  */
}

/**  form **/

/*bordo*/
fieldset{
    border-radius: 7px;
    border: 2px solid #3e454a;
    padding: 5%;
    padding-left: 25%;
    padding-right: 15%;
    margin-right: 4%;
    margin-left: 2%;
    margin-bottom: 3%;
}

/*caselle inserimento */
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #3e454a;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    border:0;
    background: #3e454a;
    color:white;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #3e454a;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}


/* trick div di spaziatura */
#magia{
    clear: both; 
    width: 0px; 
    height: 0px;
}

/****    responsive  ****/

/*** maggiore di 1024px (es: desktop) ***/
@media only screen and (min-width: 1024px) {

    /** generale **/

    #page {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom:25px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        border-radius: 7px;
    }
    #sidebar {
        display:table-cell;
        width: 20%;
        padding-left: 5px;
    }
    #content {
        display:table;
        margin-left: 20%;
        padding-bottom: 10px;
        padding-left: 10px; 
    }
    #header {
        background-image: url('img/logobig.png');
        background-repeat: no-repeat;
        padding-bottom: 10px;
        padding-left: 10px;

    }
    #header, #footer{
        height: 100px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 10px solid #3e454a;
    }

    #footer{
        border-radius: 7px;
    }


    /** logo **/   

    #header h1{
        display: none; /* nasconde la scritta per risoluzioni alte lasciando solo l'immagine (non più utile, visto il doppio logo) */
    }
}

/*** tra i 1024 e i 600px (es tablet, netbook etc.) ***/
@media only screen and (min-width: 600px) and (max-width: 1024px){

    /** generale **/

    #page {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom:25px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        border-radius: 7px;
    }
    #sidebar {
        float: left;
        width: 20%;
        padding-left: 5px;

    }
    #content {
        margin-left: 20%;
        padding-bottom: 10px;
        padding-left: 10px; 
    }
    #header {
        background-image: url('img/logobig.png');
        background-repeat: no-repeat;
        background-size:contain;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    #header img{
        max-width: 100%;
        height: auto;
        width: auto\9; /* IE9 */
    }
    #header, #footer{
        height: 100px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 10px solid #3e454a;
    }

    #footer{
        border-radius: 7px;
    }

    /** logo **/   

    #header h1{
        display: none; /* nasconde la scritta per risoluzioni alte lasciando solo l'immagine    */
    }

}
/*** sotto i 600px (es: smartphone) ***/
@media only screen and (max-width: 600px){

    /** generale **/

    #page {
        margin-top: 25px;
        margin-bottom:25px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        border-radius: 7px;
    }
    #header {
        background-image: url('img/logosmall.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    #header h1{
        display: none; /* nasconde la scritta per risoluzioni alte lasciando solo l'immagine */
    }
    #content {
        padding-bottom: 10px;
    }        
    #header, #footer{
        height: 100px;
        position: relative;
        border-bottom: 10px solid #3e454a;
    }
    #sidebar{
        text-align: center;
    }
    #footer{
        border-radius: 7px;
    }
    /** tabella **/

    /* cancella la colonna foto */
    table#oggetti #foto{
        display:none;
    }


}
